*{
  box-sizing: border-box;
  border: thin solid black;
}
body {margin: 0;}
#page{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

#topbar{
  grid-column: 1/6;
  grid-row: 1;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-auto-rows: minmax(auto, 90px); */
  background-color: #333;
  opacity: 50%;
}

#title {
  grid-column: 1/6;
  grid-row: 2;
}
#cards {
  grid-column: 1/6;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.card{
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin: 1em;
}
.slider {
  grid-column: 1/6;
  grid-row: 4;
}
#footer{
  grid-column: 1/6;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Navigation*/
#navigation{
  height: 55px;
  text-align: center;
  grid-column: 6/6;
  margin: 25px;
  /*  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr); */
}


.item {
  position: relative;
  color: white;
  background-color: #333;
  padding: 1em;
    float: right;
}
.subitem {
  color: white;
  background-color: #333;
}

.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: auto;
  z-index: 1;
  top: 40px;
  right: 5px;

}
.subitem:hover{
  background-color: #ddd;
  color: black;
}
.item:hover{
  background-color: #ddd;
  color: black;
}
/*Titulo*/
